.font-link {
  font-family: 'Poppins', sans-serif;
}
/* .selected {
  border: 5px solid black;
} */
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}
.selected:hover{
  border: 2px solid black;
}


